@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  overflow-x: hidden;
}

.animation-fade-in {
  animation: fade-in .5s ease-in forwards;
}

.animation-to-top {
  animation: to-top .8s ease-in forwards;
}

.animation-delay-1 {
  animation-delay: .5s;
}
.animation-delay-2 {
  animation-delay: 1s;
}
.animation-delay-3 {
  animation-delay: 1.5s;
}
.animation-delay-4 {
  animation-delay: 2s;
}
.animation-delay-5 {
  animation-delay: 2.5s;
}
.animation-delay-6 {
  animation-delay: 3s;
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}

@keyframes to-top {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}