@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html{
  overflow-x: hidden;
  overflow-y: overlay;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  overflow-x: hidden;
  position: relative;
}

::-webkit-scrollbar-thumb {
  @apply bg-amber-400 rounded-lg;
}

::-webkit-scrollbar{
  background-color: black;
  width: 4px;
}

.animation-fade-in {
  animation: fade-in .5s ease-in forwards;
}

.animation-to-top {
  animation: to-top .8s ease-in forwards;
}
.animation-delay-1 {
  animation-delay: 0.25s;
}
.animation-delay-2 {
  animation-delay: 0.5s;
}
.animation-delay-3 {
  animation-delay: 0.75s;
}
.animation-delay-4 {
  animation-delay: 1s;
}
.animation-delay-5 {
  animation-delay: 1.25s;
}
.animation-delay-6 {
  animation-delay: 1.5s;
}
.animation-delay-7 {
  animation-delay: 1.75s;
}
.animation-delay-8 {
  animation-delay: 2s;
}
.animation-delay-9 {
  animation-delay: 2.25s;
}
.animation-delay-10 {
  animation-delay: 2.5s;
}
.animation-delay-11 {
  animation-delay: 2.75s;
}
.animation-delay-12 {
  animation-delay: 3s;
}
.animation-delay-13 {
  animation-delay: 3.25s;
}
.animation-delay-14 {
  animation-delay: 3.5s;
}
.animation-delay-15 {
  animation-delay: 3.75s;
}
.animation-delay-16 {
  animation-delay: 4s;
}
.animation-delay-17 {
  animation-delay: 4.25s;
}
.animation-delay-18 {
  animation-delay: 4.5s;
}
.animation-delay-19 {
  animation-delay: 4.75s;
}
.animation-delay-20 {
  animation-delay: 5s;
}
.animation-delay-21 {
  animation-delay: 5.25s;
}
.animation-delay-22 {
  animation-delay: 5.5s;
}
.animation-delay-23 {
  animation-delay: 5.75s;
}
.animation-delay-24 {
  animation-delay: 6s;
}
.animation-delay-25 {
  animation-delay: 6.25s;
}
.animation-delay-26 {
  animation-delay: 6.5s;
}
.animation-delay-27 {
  animation-delay: 6.75s;
}
.animation-delay-28 {
  animation-delay: 7s;
}
.animation-delay-29 {
  animation-delay: 7.25s;
}
.animation-delay-30 {
  animation-delay: 7.5s;
}
.animation-delay-31 {
  animation-delay: 7.75s;
}

.zoom-project{
  @apply w-screen h-screen z-10 overflow-hidden;
}

.zoom-project img {
  @apply scale-100 opacity-100 hover:scale-100;
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}

@keyframes to-top {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}